@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white;
}

/* Ajout des transitions pour un changement plus fluide */
.dark-mode-transition {
  @apply transition-colors duration-200;
}